
<app-title titulo="Nosotros"></app-title>

<!-- Intro -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">

            <div class="col-lg-5">
                <div class="text-container">
                    <h2>¿Que es Jai Matrix? y su historia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis distinctio rem eius minus nobis voluptas deleniti velit sunt vitae! Distinctio exercitationem minus non recusandae ex atque debitis, corrupti consequuntur culpa?</p>
                    <p class="testimonial-text">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, nam minus commodi obcaecati vitae aut id accusamus natus eaque assumenda ut quam, suscipit iure, voluptatum pariatur aliquam dicta cum sit."</p>
                    <!-- <div class="testimonial-author">Louise Donovan - CEO</div> -->
                </div> 
            </div> 

            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/nosotros-equipo.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->

        </div> 
    </div> 
</div> 
<!--  intro -->


<!-- Description -->
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-list-alt fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Misión</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minus deleniti ea perferendis, id numquam consectetur sint laborum quasi eligendi inventore rem.</p>
                    </div>
                </div>
                <!-- fin de card -->

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-binoculars fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Visión</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, reiciendis possimus laudantium, maxime fuga consequatur id repudiandae fugiat praesentium pariatur.</p>
                    </div>
                </div>
                <!-- fin de card -->

                <!-- Card -->
                <!-- <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-chart-pie fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Execution & Evaluation</h4>
                        <p>In this phase you will focus on executing the actions plan and evaluating the results after each marketing campaign</p>
                    </div>
                </div> -->
                <!-- fin de card -->

            </div> 
        </div> 
    </div> 
</div> 
<!-- fin de description -->


<!-- Team -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Nuestro Equipo</h2>
                <p class="p-heading">Alguna descripcion</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/team-1.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Nombre 1</p>
                    <p class="job-title">Cargo que ocupa</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/team-2.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Nombre 2</p>
                    <p class="job-title">Cargo que ocupa</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/team-3.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Nombre 1</p>
                    <p class="job-title">Cargo que ocupa</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/team-4.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Nombre 2</p>
                    <p class="job-title">Cargo que ocupa</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of team -->