
<app-title titulo="Proyectos"></app-title>


<!-- Projects -->
<div id="projects" class="filter">
    <div class="container">
        <h2>Conoce mas de nuestros proyectos realizados</h2>
    </div> 
</div> 
<!-- fin de projects -->




<!-- Details 1 -->
<div id="details" class="accordion">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">
        
        <!-- Accordion -->
        <div class="accordion-container" id="accordionOne">
            <h2>Titulo proyecto 1</h2>
            <div class="item">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Descripcion del proyecto Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quae tempore officiis! Harum tempore repellat vel aliquid corrupti! Dolor ducimus recusandae quos quod excepturi! Deleniti corrupti quidem id eligendi eius? <br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti consequatur sapiente sint eligendi dolorum quia voluptatibus magnam quam mollitia aspernatur tempore laboriosam molestias rem quae inventore, illo consequuntur repudiandae deserunt!
                    </div>
                </div>
            </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> 
</div> 
<!-- fin de details 1 -->

<!-- Details 2 -->
<div class="tabs">
    <div class="area-1">
        <div class="tabs-container">
            
            
            <!-- Tabs Content -->
            <div class="tab-content" id="ariaTabsContent">

                

                <!-- Accordion -->
                <div class="accordion-container" id="accordionOne">
                    <h2>Titulo proyecto 2</h2>
                    <div class="item">
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                            <div class="accordion-body">
                                Descripcion del proyecto Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quae tempore officiis! Harum tempore repellat vel aliquid corrupti! Dolor ducimus recusandae quos quod excepturi! Deleniti corrupti quidem id eligendi eius? <br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti consequatur sapiente sint eligendi dolorum quia voluptatibus magnam quam mollitia aspernatur tempore laboriosam molestias rem quae inventore, illo consequuntur repudiandae deserunt!
                            </div>
                        </div>
                    </div> <!-- end of item -->
                </div> <!-- end of accordion-container -->
                <!-- end of accordion -->

            </div> <!-- end of tab-content -->
            <!-- end of tabs content -->

        </div> <!-- end of tabs-container -->
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
    <div class="area-2"></div> <!-- end of area-2 -->
</div> <!-- end of tabs -->
<!-- end of details 2 -->

<!-- Details 1 -->
<div id="details" class="accordion">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">
        
        <!-- Accordion -->
        <div class="accordion-container" id="accordionOne">
            <h2>Titulo proyecto 3</h2>
            <div class="item">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Descripcion del proyecto Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quae tempore officiis! Harum tempore repellat vel aliquid corrupti! Dolor ducimus recusandae quos quod excepturi! Deleniti corrupti quidem id eligendi eius? <br> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti consequatur sapiente sint eligendi dolorum quia voluptatibus magnam quam mollitia aspernatur tempore laboriosam molestias rem quae inventore, illo consequuntur repudiandae deserunt!
                    </div>
                </div>
            </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> 
</div> 
<!-- fin de details 1 -->