    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>JAI MATRIX</h4>
                        <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat explicabo error veritatis maxime quasi, illo in esse distinctio omnis facilis. Libero voluptatibus asperiores sunt harum id veniam. Facere, velit officia.</p>
                    </div> 
                </div>

                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Productos</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#">Catalogo 1</a>
                            </li>
                            <li>
                                <a class="white" href="#">Catalogo 2</a>
                            </li>
                        </ul>
                    </div> 
                </div>

                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Servicios</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#">Servicio 1</a>
                            </li>
                            <li>
                                <a class="white" href="#">Servicio 2</a>
                            </li>
                        </ul>
                    </div> 
                </div> 

                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Contactanos</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <!-- <i class="fas fa-phone"></i> -->
                                <a class="white" href="#"> jai-mastrix@gmail.com</a>
                            </li>
                            <li>
                                <!-- <i class="fas fa-envelope"></i> -->
                                <a class="white" href="#"> (+591) 70070007</a>
                            </li>
                        </ul>
                    </div> 
                </div> 

            </div>
        </div> 
    </div> 
    <!-- fin de footer -->

     <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © {{ anio }}</p>
                </div>
            </div> 
        </div> 
    </div> 
    <!-- fin de copyright -->